astroid==2.1.0
atomicwrites==1.2.1
attrs==18.2.0
bcrypt==3.1.5
cffi==1.11.5
Click==7.0
colorama==0.4.1
coverage==4.5.2
flake8==3.6.0
Flask==1.0.2
Flask-JWT-Extended==3.14.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
passlib==1.7.1
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pycparser==2.19
pyflakes==2.0.0
PyJWT==1.7.1
pytest==4.0.2
pytest-cov==2.6.0
six==1.12.0
typed-ast==1.2.0
Werkzeug==0.14.1
