html, body {
    width: 100%;
    /* height: 100%; */
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: auto;
}

.nav {
    background: #0c0c0c;
    text-align: right;
    height: 50px;
    line-height: 50px;
}

.brand {
    float: left;
    margin: 0 0 0 30px;
    background: #cc0000;
}

.brand:hover {
    opacity: 0.8;
    cursor: pointer;
}

.brand a {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    margin: 0 25px;
    line-height: 50px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #a6a6a6;
    margin: 0 10px;
    line-height: 50px;
}

.menu a:hover {
    color: #ffffff;
}

label {
    margin: 0 25px 0 0;
    font-size: 26px;
    color: #a6a6a6;
    line-height: 50px;
    display: none;
    width: 30px;
    float: right;
}

#toggle {
    display: none;
}

.form-group {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    max-width: 380px;
    padding: 0 25px;
    height: 100px;
    margin: 0 auto;
}

.form-footer {
    font-size: 12px;
}

input[type=text], [type=password] {
    display: inline;
    width: 100%;
    padding: 12px;
    margin: 0 0 10px 0;
    font-size: 14px;
    border: 1px solid #a4a4a4;
}

input[type=text]:focus, [type=password]:focus {
    outline: none;
    border: 1px solid #cc0000;
}

.btn-signup {
    padding: 12px 30px;
    font-size: 13px;
    background-color: #cc0000;
    color: #ffffff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn-login {
    padding: 12px 30px;
    font-size: 13px;
    background-color: #cc0000;
    color: #ffffff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .brand {
        margin: 0;
    }
    label {
        display: block;
        cursor: pointer;
    }
    label:hover {
        color: #ffffff;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #a6a6a6;
        margin: 0;
        color: #ffffff;
        background: #DB584B;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .form-group {
        width: 100%;
        margin: 0 auto;
    }
}