html, body {
    width: 100%;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: auto;
}

.nav {
    background: #0c0c0c;
    text-align: right;
    height: 50px;
    line-height: 50px;
}

.brand {
    float: left;
    margin: 0 0 0 30px;
    background: #cc0000;
}

.brand:hover {
    opacity: 0.8;
    cursor: pointer;
}

.brand a {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    margin: 0 25px;
    line-height: 50px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #a6a6a6;
    margin: 0 10px;
    line-height: 50px;
}

.menu a:hover {
    color: #ffffff;
}

label {
    margin: 0 25px 0 0;
    font-size: 26px;
    color: #a6a6a6;
    line-height: 50px;
    display: none;
    width: 30px;
    float: right;
}

#toggle {
    display: none;
}

.form-group {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    max-width: 380px;
    padding: 0 25px;
    height: 100px;
    margin: 0 auto;
}

.form-footer {
    font-size: 12px;
}

input[type=text], [type=password] {
    display: inline;
    width: 100%;
    padding: 12px;
    margin: 0 0 10px 0;
    font-size: 14px;
    border: 2px solid #a4a4a4;
    border-radius: 4px;
}

input[type=text]:focus, [type=password]:focus {
    outline: none;
    border: 2px solid #cc0000;
}

.btn-signup {
    padding: 12px 30px;
    font-size: 15px;
    background-color: #cc0000;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-login {
    padding: 12px 30px;
    font-size: 15px;
    background-color: #cc0000;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-signup:hover, .btn-login:hover {
    opacity: 0.7;
}

.btn-signup:focus, .btn-login:focus {
    outline: none;
}

.search-bar {
    padding: 50px 30px;
}

input[type=search] {
    border: none;
    background: #f6f4f6;
    display: inline;
    width: 80%;
    padding: 16px;
    margin: 0 0 10px 0;
    font-size: 20px;
    border-radius: 4px;
}

input[type=search]:focus {
    outline: none;
    color: #333333;
}

.create-flag {
    flex: 30%;
    padding: 0px 30px;
}

.content {
    background: #f6f4f6;
    border-top: 1px solid #dbd9db;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.flag-content {
    margin: 0 30px;
}

.flag-title {
    margin-bottom: 30px;
}

.flag-card {
    background: #ffffff;
    padding-bottom: 20px;
    border-radius: 6px;
}

.flag-card img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-title {
    margin: 15px 15px;
}

.card-desc {
    font-size: 13px;
    padding: 5px 15px;
    color: #333333;
}

.intervention {
    margin: 0 15px;
}

.btn-intervene {
    padding: 12px 40px;
    background: #ffffff;
    border: 2px solid #cc0000;
    border-radius: 4px;
    color: #cc0000;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.btn-intervene:hover {
    background: #cc0000;
    color: #ffffff;
}

.btn-intervene:focus {
    outline: none;
}

.btn-create {
    padding: 16px 40px;
    background: #cc0000;
    border: 2px solid #cc0000;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}

.btn-create:hover {
    opacity: 0.8;
}

.btn-create:focus {
    outline: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { 
    margin-left: 0; 
}

.group:before, .group:after { 
    content:""; display:table; 
}

.group:after { 
    clear:both;
}

.group { 
    zoom:1;
}

.span_3_of_3 { 
    width: 100%; 
}

.span_2_of_3 { 
    width: 66.13%; 
}

.span_1_of_3 { 
    width: 32.26%; 
}

.footer {
    margin: 30px 30px;
    border-top: 1px solid #dbd9db;
}

.copyright-text {
    font-size: 12px;
}

img {
    width: 100%;
}

.form-add-flag {
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-51%);
    width: 100%;
    max-width: 550px;
    padding: 0 25px;
    height: 100%;
    margin: 20px auto;
}

textarea {
    display: inline;
    width: 100%;
    height: 180px;
    padding: 14px;
    margin: 0px 0 10px 0;
    color: #495057;
    font-size: 14px;
    font-family: Helvetica;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
}

textarea:focus {
    outline: none;
    border: 1px solid #cc0000;
}

input[type=title] {
    display: inline;
    width: 100%;
    padding: 12px;
    margin: 0 0 10px 0;
    font-size: 14px;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
}

input[type=title]:focus {
    outline: none;
    border: 1px solid #cc0000;
}

input[type="file"] {
    display: none;
}

.image-upload, .video-upload, .geo-location {
    border: 1px solid #dbd9db;
    background: #f6f4f6;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
}

.image-upload:focus, .video-upload:focus, .geo-location:focus {
    outline: none;
}

@media only screen and (max-width: 500px) {
    .brand {
        margin: 0;
    }
    label {
        display: block;
        cursor: pointer;
    }
    label:hover {
        color: #ffffff;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #a6a6a6;
        margin: 0;
        color: #ffffff;
        background: #DB584B;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .form-group {
        width: 100%;
        margin: 0 auto;
    }
    .col {  
        margin: 1% 0 1% 0%; 
    }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { 
        width: 100%; 
    }
    .flag-card {
        margin-bottom: 20px;
    }
    input[type=search] {
        width: 100%;
    }
    .btn-create {
        width: 100%;
    }
}